<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup</title>
    <link rel="icon" type="image/png" href="/static/favicon.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css" />
    <link rel="stylesheet" href="/static/style.css">
</head>

<body class="bodyprofile">
    <div class="main-container" id="main-container">
        <!-- inputs -->
        <div class="heading">
            <h1 id="title">Tell<span style="color: #4169E1;">about</span>me</h1>
            <small>See what others think of you!</small><br>
            <div class="register form-group">
                <form action="verification" method="POST">
                <input type="email" name="mailid" placeholder="Mail id" class="form-control" required><br>
                <small class="tagline1"><span style="color: #4169E1;">We'll send a OTP to your mail address</span></small><br><br>
                <input type="text" name="username" placeholder="Username" class="form-control" required><br>
                <input type="password" name="password" placeholder="Password" class="form-control" required>
            
            </div>
        </div>
        <!-- Buttons -->
        
            <button id="register" name="submit">Register</button><br>
            
        </form>
        <br><small class="tagline">Just create a link and share with your friends, lets know what they are thinking :)</small>

    </div>
</body>

</html>